<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="true" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="true" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:required="true" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"  android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"  android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"  android:required="true"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"  android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET" android:required="true"/>
    <uses-permission android:name="android.bluetooth.adapter.action.REQUEST_ENABLE" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sleepeasylogo"
        android:label="SleepEasy O2 Ring"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".ConfigurePatientActivity"
            android:exported="false" />
        <activity
            android:name=".ShareReceiveAndUploadActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.SEND" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->

            <!--                <data android:mimeType="application/pdf" />-->
            <!--            </intent-filter>-->
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.SEND" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->

            <!--                <data android:mimeType="image/*" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".DeviceScanActivity"
            android:exported="false"
            android:label="@string/title_activity_device_scan"
 />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sleepeasycenter.o2ring_app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>